.App {
  display: flex;
  height: 100vh;
}

.sidebar-btn-wrapper{
  text-align: center;
}

.pro-sidebar{
  min-width:auto;
  width: auto;
  /* position: fixed; */
}

main{
  margin-top: 3rem;
  padding:1rem;
  background-color: rgb(236, 236, 236);
  max-height: 100vh;
  overflow-y: scroll;
  width: 100vw;
}

p{
  margin-bottom: 0rem;
}

.container-bg{
  background-color: white;
}

.instructor-image {
  width: 6rem;
}

.classSideBar {
  height: auto;
}